.button {
    width: 276px;
    height: 76px;
    background: #ffffff;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #282828;
    border: none;
}
